@font-face {
  font-family: 'motorx';
  src:  url('../fonts/motorx.eot?pal0nj');
  src:  url('../fonts/motorx.eot?pal0nj#iefix') format('embedded-opentype'),
    url('../fonts/motorx.ttf?pal0nj') format('truetype'),
    url('../fonts/motorx.woff?pal0nj') format('woff'),
    url('../fonts/motorx.svg?pal0nj#motorx') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-seikomfg-"], [class*=" icon-seikomfg-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'motorx' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-seikomfg-order-edit:before {
  content: "\e996";
}
.icon-seikomfg-order-mail:before {
  content: "\e995";
}
.icon-seikomfg-order-user:before {
  content: "\e997";
}
.icon-seikomfg-order-clock:before {
  content: "\e998";
}
.icon-seikomfg-order-date:before {
  content: "\e999";
}
.icon-seikomfg-arrow-rotate:before {
  content: "\e994";
}
.icon-seikomfg-sale-tag:before {
  content: "\e991";
}
.icon-seikomfg-tag-alt:before {
  content: "\e992";
}
.icon-seikomfg-steering-wheel:before {
  content: "\e993";
}
.icon-seikomfg-list-box:before {
  content: "\e98f";
}
.icon-seikomfg-grid-box:before {
  content: "\e990";
}
.icon-seikomfg-clock:before {
  content: "\e98b";
}
.icon-seikomfg-feedback:before {
  content: "\e98c";
}
.icon-seikomfg-heart-2:before {
  content: "\e98d";
}
.icon-seikomfg-earnings:before {
  content: "\e98e";
}
.icon-seikomfg-bookmark:before {
  content: "\e988";
}
.icon-seikomfg-compare-2:before {
  content: "\e98a";
}
.icon-seikomfg-car-part:before {
  content: "\e987";
}
.icon-seikomfg-new-arrivals:before {
  content: "\e986";
}
.icon-seikomfg-calendar-1:before {
  content: "\e989";
}
.icon-seikomfg-video-list:before {
  content: "\e985";
}
.icon-seikomfg-ticked:before {
  content: "\e984";
}
.icon-seikomfg-trash-drop2:before {
  content: "\e983";
}
.icon-seikomfg-trash-drop:before {
  content: "\e982";
}
.icon-seikomfg-readmore:before {
  content: "\e981";
}
.icon-seikomfg-tiktok:before {
  content: "\e980";
}
.icon-seikomfg-add-email:before {
  content: "\e97f";
}
.icon-seikomfg-add-call:before {
  content: "\e97c";
}
.icon-seikomfg-add-link:before {
  content: "\e97d";
}
.icon-seikomfg-stack:before {
  content: "\e97e";
}
.icon-seikomfg-arrow-small:before {
  content: "\e97b";
}
.icon-seikomfg-hours:before {
  content: "\e978";
}
.icon-seikomfg-place-pin:before {
  content: "\e979";
}
.icon-seikomfg-phone-mail:before {
  content: "\e97a";
}
.icon-seikomfg-price-tag:before {
  content: "\e977";
}
.icon-seikomfg-conversation:before {
  content: "\e973";
}
.icon-seikomfg-appointment:before {
  content: "\e974";
}
.icon-seikomfg-credit-card:before {
  content: "\e975";
}
.icon-seikomfg-notes:before {
  content: "\e976";
}
.icon-seikomfg-gallery:before {
  content: "\e96f";
}
.icon-seikomfg-trophy:before {
  content: "\e970";
}
.icon-seikomfg-customer-service:before {
  content: "\e971";
}
.icon-seikomfg-car:before {
  content: "\e972";
}
.icon-seikomfg-arrow-down:before {
  content: "\e96e";
}
.icon-seikomfg-letter2:before {
  content: "\e96d";
}
.icon-seikomfg-card2:before {
  content: "\e96b";
}
.icon-seikomfg-email3:before {
  content: "\e96c";
}
.icon-seikomfg-menu2:before {
  content: "\e96a";
}
.icon-seikomfg-user3:before {
  content: "\e966";
}
.icon-seikomfg-circle-arrow:before {
  content: "\e968";
}
.icon-seikomfg-long-arrow:before {
  content: "\e969";
}
.icon-seikomfg-tag:before {
  content: "\e965";
}
.icon-seikomfg-quote2:before {
  content: "\e964";
}
.icon-seikomfg-quote:before {
  content: "\e967";
}
.icon-seikomfg-phone2:before {
  content: "\e963";
}
.icon-seikomfg-date3:before {
  content: "\e962";
}
.icon-seikomfg-pin1:before {
  content: "\e960";
}
.icon-seikomfg-email2:before {
  content: "\e961";
}
.icon-seikomfg-around-arrow:before {
  content: "\e95f";
}
.icon-seikomfg-2-arrow-right:before {
  content: "\e95d";
}
.icon-seikomfg-2-arrow-left:before {
  content: "\e95e";
}
.icon-seikomfg-arrow-blog:before {
  content: "\e95c";
}
.icon-seikomfg-compare2:before {
  content: "\e95a";
}
.icon-seikomfg-cart2:before {
  content: "\e95b";
}
.icon-seikomfg-date2:before {
  content: "\e941";
}
.icon-seikomfg-comment:before {
  content: "\e94c";
}
.icon-seikomfg-user2:before {
  content: "\e94e";
}
.icon-seikomfg-add-button:before {
  content: "\e959";
}
.icon-seikomfg-pin2:before {
  content: "\e958";
}
.icon-seikomfg-honor:before {
  content: "\e954";
}
.icon-seikomfg-money:before {
  content: "\e955";
}
.icon-seikomfg-cart:before {
  content: "\e956";
}
.icon-seikomfg-apartment:before {
  content: "\e957";
}
.icon-seikomfg-office:before {
  content: "\e94f";
}
.icon-seikomfg-villa:before {
  content: "\e950";
}
.icon-seikomfg-house:before {
  content: "\e951";
}
.icon-seikomfg-chat:before {
  content: "\e94d";
}
.icon-seikomfg-arrow-left:before {
  content: "\e94a";
}
.icon-seikomfg-arrow-right:before {
  content: "\e94b";
}
.icon-seikomfg-filter:before {
  content: "\e949";
}
.icon-seikomfg-close:before {
  content: "\e948";
}
.icon-seikomfg-image2:before {
  content: "\e947";
}
.icon-seikomfg-email:before {
  content: "\e945";
}
.icon-seikomfg-incoming-call:before {
  content: "\e946";
}
.icon-seikomfg-pin:before {
  content: "\e953";
}
.icon-seikomfg-book-mark21:before {
  content: "\e952";
}
.icon-seikomfg-book-mark2:before {
  content: "\e943";
}
.icon-seikomfg-star-active:before {
  content: "\e942";
}
.icon-seikomfg-star:before {
  content: "\e944";
}
.icon-seikomfg-minus:before {
  content: "\e93e";
}
.icon-seikomfg-plus:before {
  content: "\e93f";
}
.icon-seikomfg-angle-up:before {
  content: "\e940";
}
.icon-seikomfg-angle-down:before {
  content: "\e93d";
}
.icon-seikomfg-dribble:before {
  content: "\e938";
}
.icon-seikomfg-toggle-on:before {
  content: "\e915";
}
.icon-seikomfg-toggle-off:before {
  content: "\e916";
}
.icon-seikomfg-steam:before {
  content: "\e917";
}
.icon-seikomfg-bitcoin:before {
  content: "\e918";
}
.icon-seikomfg-spotify:before {
  content: "\e91e";
}
.icon-seikomfg-stack-overflow:before {
  content: "\e92e";
}
.icon-seikomfg-slack:before {
  content: "\e92f";
}
.icon-seikomfg-skype:before {
  content: "\e930";
}
.icon-seikomfg-digg:before {
  content: "\e931";
}
.icon-seikomfg-vimeo:before {
  content: "\e932";
}
.icon-seikomfg-youtube:before {
  content: "\e933";
}
.icon-seikomfg-pinterest:before {
  content: "\e934";
}
.icon-seikomfg-google-plus:before {
  content: "\e935";
}
.icon-seikomfg-twitter:before {
  content: "\e936";
}
.icon-seikomfg-behance:before {
  content: "\e937";
}
.icon-seikomfg-instagram:before {
  content: "\e939";
}
.icon-seikomfg-facebook:before {
  content: "\e93a";
}
.icon-seikomfg-linkedin2:before {
  content: "\e93c";
}
.icon-seikomfg-linkedin:before {
  content: "\e93b";
}
.icon-seikomfg-360:before {
  content: "\e914";
}
.icon-seikomfg-printer:before {
  content: "\e913";
}
.icon-seikomfg-garage:before {
  content: "\e923";
}
.icon-seikomfg-heart:before {
  content: "\e926";
}
.icon-seikomfg-image:before {
  content: "\e912";
}
.icon-seikomfg-check-box:before {
  content: "\e91c";
}
.icon-seikomfg-check:before {
  content: "\e91d";
}
.icon-seikomfg-shapes:before {
  content: "\e91f";
}
.icon-seikomfg-calendar:before {
  content: "\e920";
}
.icon-seikomfg-open-eye:before {
  content: "\e922";
}
.icon-seikomfg-sharing:before {
  content: "\e924";
}
.icon-seikomfg-compare:before {
  content: "\e925";
}
.icon-seikomfg-book-mark:before {
  content: "\e92a";
}
.icon-seikomfg-new-tab:before {
  content: "\e92b";
}
.icon-seikomfg-question:before {
  content: "\e92c";
}
.icon-seikomfg-sale:before {
  content: "\e919";
}
.icon-seikomfg-phone-cal:before {
  content: "\e91a";
}
.icon-seikomfg-mail2:before {
  content: "\e91b";
}
.icon-seikomfg-door:before {
  content: "\e921";
}
.icon-seikomfg-size:before {
  content: "\e927";
}
.icon-seikomfg-bath:before {
  content: "\e928";
}
.icon-seikomfg-bed:before {
  content: "\e929";
}
.icon-seikomfg-checked:before {
  content: "\e92d";
}
.icon-seikomfg-map2:before {
  content: "\e90c";
}
.icon-seikomfg-folder:before {
  content: "\e910";
}
.icon-seikomfg-angle-right:before {
  content: "\e906";
}
.icon-seikomfg-angle-left:before {
  content: "\e907";
}
.icon-seikomfg-list:before {
  content: "\e908";
}
.icon-seikomfg-menu:before {
  content: "\e909";
}
.icon-seikomfg-arrow-right2:before {
  content: "\e90a";
}
.icon-seikomfg-like:before {
  content: "\e90b";
}
.icon-seikomfg-search:before {
  content: "\e90d";
}
.icon-seikomfg-date:before {
  content: "\e90e";
}
.icon-seikomfg-message:before {
  content: "\e90f";
}
.icon-seikomfg-user:before {
  content: "\e911";
}
.icon-seikomfg-phone-call:before {
  content: "\e900";
}
.icon-seikomfg-phone:before {
  content: "\e901";
}
.icon-seikomfg-right-arrow:before {
  content: "\e903";
}
.icon-seikomfg-mail:before {
  content: "\e902";
}
.icon-seikomfg-map:before {
  content: "\e904";
}
.icon-seikomfg-price-house:before {
  content: "\e905";
}
.icon-seikomfg-whatsapp:before {
  content: "\e941";
}