/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1670px) {
    .custom-img-home1 .elementor-widget-container {
        margin: 0% 0% 0% -73% !important;
    }
}

@media only screen and (max-width: 1600px) {
    .style-overflow .owl-stage-outer::after,
    .style-overflow .owl-stage-outer::before {
        display: none;
    }
    .contact-seller .group-btn .inner:nth-child(1),
    .contact-seller .group-btn .inner:nth-child(2) {
        width: calc(100% - 10px);
    }

    .contact-seller .group-btn .inner:nth-child(1) {
        margin-bottom: 20px;
    }
    #mainnav > ul > li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .widget_login_menu_widget, .login-header {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1500px) {
    #header.header-default, .themesflat-top.style-01 {
        padding-left: 0;
        padding-right: 0;
    }
    .tfre-dashboard .table-responsive .tfre-table-content .column-property,
    .tfre-my-property-sc .tfre-property-listing,
    .tfre-table-listing .favorite-listing {
        width: max-content;
    }
    .tfre-dashboard .table-responsive .tfre-table-content .column-property {
        display: block;
    }
}

@media only screen and (max-width: 1366px) {
    #header.header-02 .header-wrap .phone-header-box {
        display: none;
    }
}

@media only screen and (max-width: 1320px) {

    .themesflat-boxed {
        overflow: hidden;
    }
    .themesflat-action-box .content h2 {
        padding-right: 24%;
    }
}

@media only screen and (max-width: 1210px) {
    .footer-widgets .wrap-widgets-2,
    .footer-widgets .wrap-widgets-3 {
        margin-left: 0px;
    }
    #header.header-default,
    .themesflat-top.style-01 {
        padding-left: 0px;
        padding-right: 0px;
    }
    #header.header-02 .header-top,
    #header.header-02 .header-bottom {
        padding: 0 12px;
    }
    .themesflat-action-box .content p {
        margin-bottom: 30px;
    }
    .tfre-dashboard .table-responsive .tfre-table-content .column-status {
        width: unset;
    }
    #header.header-02 .header-bottom .search-header-bottom {
        min-width: 150px;
    }
}

@media only screen and (max-width: 1170px) {
    .sidebar-dashboard {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        padding-bottom: 30px;
    }
   
    .page-title.left .pagetitle-description {
        padding-right: 35%;
    }
    .page-title.right .pagetitle-description {
        padding-left: 35%;
    }
    .page-wrap.sidebar-right .widget-area {
        padding-left: 30px;
    }
    .page-wrap.sidebar-left .widget-area {
        padding-right: 30px;
    }
    .themesflat-action-box a { 
        margin-top: 0px;
    }
    #footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .single .entry-footer {
        display: block;
    }
    .single .entry-footer .tags-links { 
        margin-bottom: 15px;
    }
    .nav-links {
        margin-bottom: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .single-property-element.property-gallery-wrap .single-property-image-thumb {
        right: -10%;
    }
    .page-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    #header.header-02,
    .themesflat-top.style-02 .sub-infor-phone {
        padding-left: 0;
        padding-right: 0;
    }

    .header.header-02 .header-modal-menu-left-btn {
        display: none;
    }
    .themesflat-top.style-02,
    .themesflat-top.style-02.has-toggle {
        padding-right: 0;
    }
    .themesflat-action-box .align-item-center {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .themesflat-action-box .content h2 {
        padding-right: 10%;
    }
    #themesflat-content {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 1100px) {
    .header-absolute #header .header-wrap {
        padding: 0px 20px;
    }
    #header .tf-btn,
    .login-header {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 991px) {

    .tf-megamenu > .sub-menu {
        display: block;
        width: 100% !important;
    }

    .themesflat-action-box .content h2 {
        font-size: 35px;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .page-title.center .pagetitle-description {
        padding-right: 5%;
        padding-left: 5%;
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: unset !important;
    }

    .bottom .container-inside {
        flex-wrap: wrap;
    }

    .page-title .breadcrumbs {
        margin-bottom: 20px;
    }

    .bottom .container-inside .content-left,
    .bottom .container-inside .content-right,
    .themesflat-action-box .content-thumb,
    .themesflat-action-box .content h2 {
        width: 100%;
        text-align: center;
    }

    .blog-single .featured-post img {
        height: 400px;
    }

    #header.header-02 .header-ct-left.st2 {
        display: flex;
    }

    .footer-navigation .wrap-navigation {
        flex-direction: column;
    }

    .footer-navigation .content-left,
    .footer-navigation .content-center {
        margin-bottom: 20px;
    }

    .copyright,
    .bottom-social {
        margin-bottom: 30px;
    }
    
    .bottom .menu-bottom ul {
        justify-content: center;
    }

    .bottom .inner.hide-social.has-menu,
    .bottom .inner.has-social.has-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bottom .inner.hide-social.has-menu > *,
    .bottom .inner.has-social.has-menu > * {
        flex: unset;
        text-align: center;
        width: 100%;
    }

    #header.header.header-02 .header-ct-right  .tf-btn,
    #header.header.header-default .header-ct-right  .widget_login_menu_widget,
    #header.header.header-02 .header-ct-right  .widget_login_menu_widget,
    #header .themesflat-socials {
        display: none;
    }

    #mainnav-mobi .menu {
        overflow-y: auto;
        max-height: 100vh;
    }

    #mainnav,
    .nav-links::before,
    #header.header-02 .header-bottom,
    #header.header-02 .header-top .header-ct-left  {
        display: none;
    }

    .btn-menu,
    .header-02 .wrap-btn-header,
    .header-modal-menu-left-btn,
    .wrap-btn-header .btn-header {
        display: block;
    }

    #mainnav-mobi .megamenu.col-2,
    #mainnav-mobi .megamenu.col-3,
    #mainnav-mobi .megamenu.col-4,
    #mainnav-mobi .megamenu.col-5,
    #mainnav-mobi .megamenu.col-6 {
        -webkit-box-flex: unset;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-right .content-area,
    .themesflat-action-box .content h2 {
        padding-left: 0;
        padding-right: 0;
    }

    #secondary .sidebar {
        margin-top: 50px;
    }

    /* header-widget */

    .header-widget .header-top .wrap-logo .logo {
        padding-bottom: 0;
    }

    .page-title.left .pagetitle-description {
        padding-right: 15%;
    }

    .page-title.right .pagetitle-description {
        padding-left: 15%;
    }

    /* sidebar */
    .single .page-wrap.sidebar-right .content-area,
    .single .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-right .content-area,
    .page-wrap.sidebar-left .widget-area,
    .page-wrap.sidebar-right .widget-area {
        float: none;
        width: 100% !important;
        padding-right: 0;
        padding-left: 0;
        position: relative;
    }

    .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-right .content-area {
        margin-bottom: 0px;
    }

    .vertical-center {
        display: block;
    }

    .page-template-comming-soon-s1.admin-bar
        .section-comming-soon
        .box-comming-soon {
        top: 46px;
    }

    .mobi-2column {
        width: 50%;
        float: left;
    }

    .mobi-mgb30,
    .themesflat-action-box .content h2 {
        margin-bottom: 30px;
    }

    .mobi-mgb40 {
        margin-bottom: 40px;
    }

    .mobi-mgt30 {
        margin-top: 30px;
    }

    .mobi-mgt40 {
        margin-top: 40px;
    }

    .footer-widgets .wrap-widgets {
        margin-bottom: 40px;
    }

    footer .widgets-areas.areas-2 .wrap-widgets,
    footer .widgets-areas.areas-3 .wrap-widgets,
    footer .widgets-areas.areas-4 .wrap-widgets {
        margin-left: 0px;
    }

    .sidebar .widget-instagram-feed .item {
        height: auto;
    }

    .mobi-center {
        text-align: center !important;
    }

    .mobi-left {
        text-align: left !important;
    }

    .desk-mt-117px {
        margin-top: 0px;
    }

    .desk-top-117px {
        top: 0px;
        background-image: none !important;
        background-color: #f4f4ff;
    }

    ul.box-contact,
    .page-wrap.sidebar-right .widget-area,
    .themesflat-action-box .content-thumb {
        margin: 0;
    }

    .bg-text:before,
    .border-style2 > .inner:before,
    .border-style3 > .inner:before,
    .flat-calendar:before,
    .mobi-none,
    .mp2 .ft-2 {
        display: none !important;
    }

    .image-100-percent img,
    .width_55Percent,
    .width_45Percent {
        width: 100%;
    }

    .width_55Percent {
        margin-bottom: 50px;
    }

    .custom-search .search-form .search-submit {
        width: 80px;
    }

    .mobi-heading-lh14 .heading,
    .mobi-sub-heading-lh14 .sub-heading {
        line-height: 1.4 !important;
    }

    .mobi-heading-lh117 .heading,
    .mobi-sub-heading-lh117 .sub-heading {
        line-height: 1.17 !important;
    }

    .mobi-font30 {
        font-size: 30px !important;
    }

    .page-title .wrap-button-page-title {
        justify-content: center;
        margin-top: 30px;
    }

    #header .header-text,
    #header .header-wrap .header-ct-center .inner-center,
    .header-modal-menu-left-btn ,
    #header.header-default .header-wrap .header-ct-center .inner-center,
    #header.header-02 .header-wrap .header-ct-center .inner-center      {
        display: none;
    }

    .blog-list article .content-post p {
        padding-right: 0px;
    }

    .error-404-text h2 {
        font-size: 250px;
        letter-spacing: -15px;
        background-position: top center;
    }

    .footer-widgets #nav_menu-2,
    .footer-widgets .wrap-widgets-3 .widget.widget_latest_news {
        margin-left: 0;
    }

    .footer-widgets .wrap-widgets-4 > .widget:last-child,
    .footer-widgets .wrap-widgets-3 > .widget:last-child {
        margin-bottom: 0;
    }

    .sidebar .wpcf7-form-control-wrap,
    #header.header-02 .header-top .header-ct-center .inner-center  {
        display: block;
    }

    #header.header-02 .header-top .header-ct-center {
        flex-grow: 0;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .block-get-a-quote {
        min-height: unset;
    }

    .themesflat-top .container-inside{
        flex-wrap: wrap;
        justify-content: center;
    }
    .form-email button {
        padding: 17px 10px;
        font-size: 13px;
    }
    .info-footer .wrap-info .box-add {
        width: calc(100% - 30px);
        padding: 32px 30px 30px 35px;
    }
    .info-footer .wrap-info .box-add .tf-btn {
        margin-bottom: 0;
    }

    .tfre-list-featured-properties.carousel .property-item .property-image img {
        height: 350px;
    }
    .tfre-list-featured-properties.carousel .property-info {
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    .widget_contact_seller_widget {
        padding: 20px;
    }
    .shape-slider {
        clip-path: ellipse(140% 100% at 50% 0%);
    }

    .footer-widgets .wrap-widgets-1,
    footer .wrap-widgets-1 .ft-description,
    footer .widgets-areas.areas-2 .wrap-widgets-2,
    #footer .footer-widgets .widgets-areas > .widget-title,
    footer .widgets-areas.areas-3 .wrap-widgets-3,
    .footer-widgets .wrap-widgets-4 {
        margin-left: 0;
        margin-right: 0;
    }
    
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

    #header {
        padding: 15px 0;
    }

    .header-03 #header.header-03 .header-wrap {
        padding: 0px 15px 0px 15px;
    }

    #header.header-03 {
        padding: 0;
    }

    .header_sticky #header.header-sticky.fixed-show {
        top: 0 !important;
    }

    .btn-video {
        padding-left: 65px;
    }

    #header.header-02 .logo {
        min-height: 75px;
    }

    #header .logo {
        min-height: 60px;
    }

    .page-title.left .pagetitle-description,
    .page-title.right .pagetitle-description {
        padding-right: 0%;
        padding-left: 0%;
        text-align: center;
    }

    .widget_login_menu_widget .user-dropdown .user-display-name {
        gap: 5px;
    }

    .btn-video::before {
        width: 50px;
        height: 50px;
    }

    .themesflat-top.style-01 {
        height: auto;
        line-height: unset;
        padding: 5px 0;
    }
    .themesflat-top.style-01 .container-inside .content-left,
    .themesflat-top.style-01 .container-inside .content-right,
    .themesflat-top.style-02 .container-inside .content-left,
    .themesflat-top.style-02 .container-inside .content-right,
    .themesflat-top .list-infor-topbar {
        justify-content: center;
    }

    .themesflat-top .list-infor-topbar,
    .single-property-element.property-floors-tab #tfre-floors-tabs-accordion .meta-floor,
    .contact-form-page .group-form {
        flex-wrap: wrap;
    }

    .themesflat-action-box h5,
    .themesflat-action-box .content-right,
    .themesflat-top ul {
        text-align: center;
    }

    .themesflat-top.style-01 .container-inside .content-left {
        margin-bottom: 10px;
    }

    .themesflat-action-box h5 {
        margin-bottom: 20px;
    }

    /* header */

    .pagination > span,
    .navigation.paging-navigation span,
    .page-links a,
    .page-links > span,
    .themesflat-top.style-02 .list-infor-topbar li:not(:last-child) {
        margin-bottom: 15px;
    }

    .navigation.paging-navigation .pagination,
    .navigation.paging-navigation.pager,
    .themesflat-action-box .inner,
    .contact-page .group-ip,
    .themesflat-top .container-inside
     {
        display: block;
    }

    .single-property-element.property-floors-tab #tfre-floors-tabs-accordion .card .card-header .nav-link {
        display: block !important;
    }

    .comment-respond .comment-left .name-container,
    .comment-respond .comment-left .email-container,
    .themesflat-action-box .inner .heading-wrap,
    .themesflat-action-box .inner .image-acb  {
        width: 100%;
    }

    .page-wrap.fullwidth-small .wrap-content-area .blog-grid > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid-simple > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-2 > .item,
    .page-wrap.fullwidth-small
        .wrap-content-area
        .blog-grid-simple.columns-2
        > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-2 > .item,
    .page-wrap.fullwidth-small
        .content-area
        .blog-grid-simple.columns-2
        > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-3 > .item,
    .page-wrap.fullwidth-small
        .wrap-content-area
        .blog-grid-simple.columns-3
        > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-3 > .item,
    .page-wrap.fullwidth-small
        .content-area
        .blog-grid-simple.columns-3
        > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-4 > .item,
    .page-wrap.fullwidth-small
        .wrap-content-area
        .blog-grid-simple.columns-4
        > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-4 > .item,
    .page-wrap.fullwidth-small
        .content-area
        .blog-grid-simple.columns-4
        > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-2 > .item,
    .page-wrap.fullwidth-small
        .wrap-content-area
        .blog-grid-simple.columns-2
        > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-2 > .item,
    .page-wrap.fullwidth-small
        .content-area
        .blog-grid-simple.columns-2
        > .item {
        float: none;
        width: 100%;
    }

    .blog-grid.columns-2 > .item,
    .blog-grid-simple.columns-2 > .item,
    .blog-grid.columns-3 > .item,
    .blog-grid-simple.columns-3 > .item,
    .blog-grid.columns-4 > .item,
    .blog-grid-simple.columns-4 > .item {
        float: none;
        width: 100%;
    }

    .blog-grid-simple article .content-post {
        padding: 25px 30px;
    }

    .page-title.inline .page-title-container h1,
    .page-title.inline .breadcrumbs,
    .info-footer .wrap-info .box-add {
        display: block;
    }

    .page-title.inline .page-title-container h1 {
        margin-bottom: 10px;
    }

    .page-title.inline .breadcrumbs,
    .navigation.posts-navigation .nav-links li.next-post .content {
        text-align: left;
    }

    .box-comming-soon {
        padding: 15px;
    }

    .comming-soon-countdown .square .numb,
    .contact-home3 h3 {
        font-size: 30px;
    }

    .one-haft {
        width: 100%;
        float: none;
    }

    .mobi-mb20 {
        margin-bottom: 20px;
    }

    .mobi-mb30 {
        margin-bottom: 30px;
    }

    .themesflat_sc_vc-icon-box.one-haft {
        margin-bottom: 30px;
    }

    .author-post .themesflat-socials {
        margin-top: 10px;
    }

    .bottom .themesflat-socials {
        margin-top: 0px;
        margin-right: 0px;
    }

    .mobi-small-hide,
    #header .header-wrap .header-ct-right .phone-header-box,
    article .entry-footer .social-share-article h5,
    #header.header.header-default .header-ct-right  .tf-btn,
    #header.header.header-03 .header-ct-right  .tf-btn,
    .single-property-element.property-gallery-wrap .single-property-image-thumb,
    #header .show-search,
    .themesflat-top.style-01 .container-inside .content-right,
    .themesflat-top.style-02 .widget_login_menu_widget {
        display: none;
    }

    #footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #footer .footer-widgets .widgets-areas > .widget-title {
        padding: 10px 0;
    }

    #footer .footer-widgets .widgets-areas.has-tab .wrap-widgets {
        display: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-bottom: 30px;
    }

    #footer .footer-widgets .widgets-areas .wrap-widgets.active {
        display: block;
    }

    #footer .footer-widgets .widgets-areas > .widget-title {
        cursor: pointer;
    }

    #footer .footer-widgets .widgets-areas > .widget-title::after {
        content: '';
        width: 2px;
        height: 13px;
        position: absolute;
        top: 50%;
        right: 20.5px;
        transform: translateY(-50%);
        background-color: currentColor;
    }

    #footer .footer-widgets .widgets-areas > .widget-title::before {
        content: '';
        width: 13px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background-color: currentColor;
    }

    #footer .footer-widgets .widgets-areas > .widget-title.active::after {
        display: none;
    }

    .mmobi-center {
        text-align: center !important;
    }

    .single-property-element.property-gallery-wrap .single-property-image-main .item img {
        height: 450px;
    }

    .mmobi-left {
        text-align: left !important;
    }

    .footer-widgets .widget.widget_nav_menu ul li {
        float: none;
    }

    .smobi-hide,
    .doubleline:before,
    .doubleline:after,
    .border-style1:before,
    .mmobi-none,
    .bottom ul li:not(:last-child):after,
    .footer-navigation .content-center,
    .themesflat-top.style-02 .sub-infor-phone::after {
        display: none;
    }

    .wrap-job-list .title-job,
    .wrap-job-list .info-job,
    .wrap-job-list .button-job {
        width: auto;
        display: block;
        float: none;
        margin: 0 0 15px 0;
    }

    .blog-post.post_format-post-format-image.has-post-thumbnail .content-post {
        padding: 25px;
    }

    .footer-widgets .widget.widget_nav_menu ul li,
    .comment-respond form {
        width: 100%;
    }

    .button-topbar {
        margin-left: 0;
    }

    .bottom .container-inside {
        display: block;
        justify-content: unset;
        align-items: unset;
        text-align: center;
    }

    .bottom ul li:not(:last-child),
    .themesflat-top.style-02 .sub-infor-phone span {
        margin-right: 10px;
    }


    .elementor-widget-container .mc4wp-form input[type="submit"] {
        position: unset;
        right: auto;
        top: auto;
        transform: translateY(0%);
        max-width: 100%;
    }

    .transparent-form p,
    .dark-form p {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .blog-single .post-meta {
        padding: 15px;
    }
    blockquote {
        margin: 0px 0px 37px 0px;
    }
    .single .author-post,
    .comment-respond form {
        padding: 30px 15px;
    }
    .nav-links .previous-post {
        width: 100%;
        float: unset;
        text-align: left;
    }
    .nav-links .next-post {
        width: 100%;
        float: unset;
    }
    .navigation.posts-navigation .nav-links li:not(:last-child),
    .contact-form-page .group-form input {
        margin-bottom: 20px;
    }
    .contact-form-ip .tf-title-section .title-section .heading {
        margin: 0 0%;
        font-size: 30px;
    }
    .contact-form-ip .top {
        display: block;
        margin-left: 0;
    }
    .contact-form-ip .top .wpcf7-form-control-wrap {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .contact-form-ip .top .wpcf7-form-control-wrap input {
        margin-bottom: 15px;
    }
    .contact-form-ip .top {
        margin-bottom: 0;
    }
    .comment-reply-title a#cancel-comment-reply-link {
        padding-left: 0px;
        float: left;
    }
    .blog-single .content-post-single .post-meta {
        padding: 0;
    }
    .blog-list article .post-meta,
     .item article .post-meta {
        display: flex;
        flex-wrap: wrap;
    }
    .modal-login .modal-dialog {
        margin: 0;
        max-width: 100%;
    }
    .login-header ul li:first-child,
    .blog-single .content-post-single .item-meta::after {
        display: none;
    }
    .shape-slider {
        clip-path: ellipse(170% 100% at 50% 0%);
    }
    .go-top,
    .go-top.show {
        right: 8px;
        bottom: 8px;
    }
    .info-footer {
        padding-bottom: 30px;
    }
    .footer-widgets .wrap-widgets-4,
    .contact-form-page .group-form { 
        margin-bottom: 0;
    }
    .blog-single .content-post-single .item-meta,
    .blog-single .content-post-single .post-meta {
        margin-bottom: 5px;
    }

    .sidebar-dashboard .db-logo {
        padding: 26px 30px 26px 30px;
    }
    #header .inner-canvas-nav .group-header-logo { 
        padding: 11px 20px;
    }
    .blog-single .content-post-single .item-meta {
        padding-right: 20px;
    }

    .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item {
        max-width: 33.33333% !important;
    }
    .contact-home3 {
        padding: 25px;
    }
    .themesflat-top.style-02 .container-inside .content-left {
        margin-bottom: 5px;
    }
    .themesflat-top.style-02 {
        padding: 10px 0;
    }
    .page-title .page-title-heading {
        font-size: 45px;
    }
    .page-title {
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: cover !important;
        background-position: center center !important;
    }
    .header-03 .page-title {
        padding-top: 170px;
    }
    .contact-form-page .group-form input {
        width: calc(100% - 30px);
    }
    .bottom .inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bottom .inner > * {
        flex: unset;
    }
    .bottom .inner.has-social.hide-menu .themesflat-socials {
        justify-content: center;
    }
}

@media only screen and (max-width: 635px) {
    article .entry-meta ul li,
    article .post-meta .item-meta {
        margin-right: 25px;
    }
    article .post-meta .item-meta.post-comments::after,
    article .post-meta .item-meta.post-author::after {
        right: -12px;
    }
    article .post-meta .item-meta .meta-icon {
        margin-right: 5px;
        font-size: 16px;
    }
    .blog-post.has-post-thumbnail .content-post .featured-post::before {
        display: none;
    }
    article .entry-title {
        font-size: 25px;
    }
    .tfre-dashboard .tfre-page-insight-filter .tfre-page-insight-filter-button .group-button {
        width: calc(50% - 14px);
    }
}

/* Mobile Portrait Size */
@media only screen and (max-width: 600px) {
    .modal-menu-left .modal-menu__body {
        width: calc(100% - 50px);
    }

    .modal-menu__panel-body,
    .modal-menu__panel-footer {
        padding: 60px 30px 60px 30px;
    }

    .modal-menu__panel-header {
        padding: 10px 10px 10px 10px;
    }

    #mainnav-secondary .menu .menu-item-has-children > span {
        right: 0;
    }

    .comments-area ol.comment-list article .gravatar {
        float: none;
        display: block;
        border-radius: 50%;
    }

    .comments-area ol.comment-list article {
        position: relative;
        padding-left: 0px;
    }

    .comments-area ol.comment-list article .gravatar {
        top: auto;
        left: auto;
        position: relative;
    }

    .themesflat-top .flat-information {
        text-align: center;
    }

    .themesflat-top .content-left ul li {
        border: none;
    }

    .btn-video {
        padding-left: 45px !important;
    }

    .btn-get-started.rev-btn {
        padding: 17px 43px 17px 15px !important;
    }

    .btn-get-started.rev-btn i {
        right: 15px;
    }

    .btn-video::before {
        width: 40px;
        height: 40px;
    }
    
}

@media only screen and (max-width: 575px) {
    .video-video-box-button-sm.video-box-button-lg button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    .comments-area ul.children {
        margin-left: 20px;
    }

    ul.box-contact li .wrap-icon {
        float: none;
        margin-right: 0px;
    }

    ul.box-contact li .wrap-info {
        overflow: hidden;
        margin-top: 15px;
    }

    .box-contact li {
        padding: 43px 30px 40px;
    }

    .error-404-text h2 {
        font-size: 200px;
        letter-spacing: -10px;
    }

    .wrap-btn-header {
        display: none;
    }

    .single .entry-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .single .entry-footer .social-share-article {
        margin-top: 20px;
    }

    article .post-meta .item-meta.post-date a,
    article .post-meta .item-meta {
        font-size: 12px;
    }
}

@media (max-width: 499px) {

    .bottom .content-left,
    .bottom .content-right {
        display: block;
        text-align: center !important;
    }

    .bottom .content-left {
        margin-bottom: 15px;
    }

    .bottom .content-right .text-left {
        margin-bottom: 10px;
    }

    .comments-area ol.comment-list article:after,
    .comments-area ol.comment-list article:before {
        display: none;
    }

    .comments-area blockquote {
        margin: 10px 0px 30px 0px;
        padding: 10px 15px 20px 15px;
    }

    .comments-area ol.comment-list article .comment_content .comment_text {
        overflow-x: auto;
    }

    .comments-area ol.comment-list article,
    .comment-list-wrap .comment-respond {
        margin-bottom: 30px;
    }

    .page-wrap.fullwidth-small .wrap-content-area,
    .page-wrap.fullwidth-small .content-area {
        width: 100%;
        max-width: 100%;
    }

    .section-comming-soon .title-comming-soon {
        font-size: 35px;
    }

    .mobi-supper-small-hide {
        display: none;
    }

    .smobi-center {
        text-align: center !important;
    }

    .smobi-left {
        text-align: left !important;
    }

    .themesflat_sc_vc-headings.left-icon-testimonial {
        padding-left: 0;
    }

    .themesflat_sc_vc-headings.left-icon-testimonial:before {
        position: relative;
        margin-bottom: 10px;
    }

    .desk-pd-left81px {
        padding: 0 30px;
    }

    article .post-meta .item-meta.post-comments::after,
    article .post-meta .item-meta.post-author::after {
        display: none;
    }
    article .post-meta .item-meta {
        margin-right: 15px;
    }
    article .post-meta .item-meta {
        line-height: 35px;
    }
}

@media (max-width: 460px) {
    .video-video-box-button-sm {
        right: 1%;
    }
}

@media (max-width: 425px) {
    .wrap-cart-count .content-text {
        display: none !important;
    }

    .error-404-text h2 {
        font-size: 160px;
        letter-spacing: -5px;
    }
    .header-modal-menu-left-btn {
        display: none;
    }
}

@media (max-width: 375px) {
    .comments-area
        ol.comment-list
        article
        .comment_content
        .comment_meta
        .comment_author {
        margin-right: 5px;
    }

    .top-search {
        width: 250px;
    }

    .box-contact li {
        padding: 43px 20px 40px;
    }

    ul.box-contact li .wrap-info p {
        font-size: 24px;
    }

    .button-topbar {
        padding: 15px 45px 10px 45px;
    }

    .button-topbar:after {
        width: 107%;
    }

    .canvas-nav-wrap .inner-canvas-nav {
        width: 80%;
    }

    .error-404-text h2 {
        font-size: 150px;
        letter-spacing: -5px;
    }
}
