.elementor-232 .elementor-element.elementor-element-525abc6 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 30px;
  --background-transition: 0.3s;
  --margin-top: 20px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-232 .elementor-element.elementor-element-56ce43e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 010px 010px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: #dfdfdf;
  --border-color: #dfdfdf;
  --border-radius: 15px 15px 15px 15px;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-232
  .elementor-element.elementor-element-56ce43e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-232
  .elementor-element.elementor-element-56ce43e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-232 .elementor-element.elementor-element-56ce43e,
.elementor-232 .elementor-element.elementor-element-56ce43e::before {
  --border-transition: 0.3s;
}
.elementor-232
  .elementor-element.elementor-element-afb4de2
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-232
  .elementor-element.elementor-element-afb4de2.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-232
  .elementor-element.elementor-element-afb4de2.elementor-view-framed
  .elementor-icon,
.elementor-232
  .elementor-element.elementor-element-afb4de2.elementor-view-default
  .elementor-icon {
  color: #000000;
  border-color: #000000;
}
.elementor-232
  .elementor-element.elementor-element-afb4de2.elementor-view-framed
  .elementor-icon,
.elementor-232
  .elementor-element.elementor-element-afb4de2.elementor-view-default
  .elementor-icon
  svg {
  fill: #000000;
}
.elementor-232 .elementor-element.elementor-element-afb4de2 .elementor-icon {
  font-size: 70px;
}
.elementor-232
  .elementor-element.elementor-element-afb4de2
  .elementor-icon
  svg {
  height: 70px;
}
.elementor-232
  .elementor-element.elementor-element-afb4de2
  > .elementor-widget-container {
  padding: 45px 0px 0px 0px;
}
.elementor-232 .elementor-element.elementor-element-544f72d {
  text-align: center;
}
.elementor-232
  .elementor-element.elementor-element-544f72d
  .elementor-heading-title {
  color: #000000;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.elementor-232
  .elementor-element.elementor-element-544f72d
  > .elementor-widget-container {
  margin: 11px 0px 15px 0px;
}
.elementor-232 .elementor-element.elementor-element-5905220 {
  text-align: center;
  color: #83827f;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}
.elementor-232
  .elementor-element.elementor-element-5905220
  > .elementor-widget-container {
  margin: 0px 0px 020px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-232 .elementor-element.elementor-element-0bfd190 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 10px 10px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: #dfdfdf;
  --border-color: #dfdfdf;
  --border-radius: 15px 15px 15px 15px;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-232
  .elementor-element.elementor-element-0bfd190:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-232
  .elementor-element.elementor-element-0bfd190
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-232 .elementor-element.elementor-element-0bfd190,
.elementor-232 .elementor-element.elementor-element-0bfd190::before {
  --border-transition: 0.3s;
}
.elementor-232
  .elementor-element.elementor-element-2ae5144
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-232
  .elementor-element.elementor-element-2ae5144.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-232
  .elementor-element.elementor-element-2ae5144.elementor-view-framed
  .elementor-icon,
.elementor-232
  .elementor-element.elementor-element-2ae5144.elementor-view-default
  .elementor-icon {
  color: #000000;
  border-color: #000000;
}
.elementor-232
  .elementor-element.elementor-element-2ae5144.elementor-view-framed
  .elementor-icon,
.elementor-232
  .elementor-element.elementor-element-2ae5144.elementor-view-default
  .elementor-icon
  svg {
  fill: #000000;
}
.elementor-232 .elementor-element.elementor-element-2ae5144 .elementor-icon {
  font-size: 70px;
}
.elementor-232
  .elementor-element.elementor-element-2ae5144
  .elementor-icon
  svg {
  height: 70px;
}
.elementor-232
  .elementor-element.elementor-element-2ae5144
  > .elementor-widget-container {
  padding: 55px 0px 0px 0px;
}
.elementor-232 .elementor-element.elementor-element-8981ad5 {
  text-align: center;
}
.elementor-232
  .elementor-element.elementor-element-8981ad5
  .elementor-heading-title {
  color: #000000;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.elementor-232
  .elementor-element.elementor-element-8981ad5
  > .elementor-widget-container {
  margin: 11px 0px 15px 0px;
}
.elementor-232 .elementor-element.elementor-element-12d15f6 {
  text-align: center;
  color: #83827f;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-weight: 400;
}
.elementor-232
  .elementor-element.elementor-element-12d15f6
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-232 .elementor-element.elementor-element-3c29a8f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 10px 10px;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: #dfdfdf;
  --border-color: #dfdfdf;
  --border-radius: 15px 15px 15px 15px;
  --padding-top: 0px;
  --padding-bottom: 020px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-232
  .elementor-element.elementor-element-3c29a8f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-232
  .elementor-element.elementor-element-3c29a8f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-232 .elementor-element.elementor-element-3c29a8f,
.elementor-232 .elementor-element.elementor-element-3c29a8f::before {
  --border-transition: 0.3s;
}
.elementor-232
  .elementor-element.elementor-element-a68a506
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-232
  .elementor-element.elementor-element-a68a506.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
}
.elementor-232
  .elementor-element.elementor-element-a68a506.elementor-view-framed
  .elementor-icon,
.elementor-232
  .elementor-element.elementor-element-a68a506.elementor-view-default
  .elementor-icon {
  color: #000000;
  border-color: #000000;
}
.elementor-232
  .elementor-element.elementor-element-a68a506.elementor-view-framed
  .elementor-icon,
.elementor-232
  .elementor-element.elementor-element-a68a506.elementor-view-default
  .elementor-icon
  svg {
  fill: #000000;
}
.elementor-232 .elementor-element.elementor-element-a68a506 .elementor-icon {
  font-size: 70px;
}
.elementor-232
  .elementor-element.elementor-element-a68a506
  .elementor-icon
  svg {
  height: 70px;
}
.elementor-232
  .elementor-element.elementor-element-a68a506
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 55px 0px 0px 0px;
}
.elementor-232 .elementor-element.elementor-element-7a8a9dc {
  text-align: center;
}
.elementor-232
  .elementor-element.elementor-element-7a8a9dc
  .elementor-heading-title {
  color: #000000;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.elementor-232
  .elementor-element.elementor-element-7a8a9dc
  > .elementor-widget-container {
  margin: 11px 0px 15px 0px;
}
.elementor-232 .elementor-element.elementor-element-94c3689 {
  text-align: center;
  color: #83827f;
  font-family: "Plus Jakarta Sans", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.elementor-232
  .elementor-element.elementor-element-94c3689
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-232 .elementor-element.elementor-element-7cb3407 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 40px 40px;
  --background-transition: 0.3s;
  --margin-top: 100px;
  --margin-bottom: 100px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-232 .elementor-element.elementor-element-8879bd5 {
  --display: flex;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-232 .elementor-element.elementor-element-f60c281 iframe {
  height: 650px;
}
.elementor-232 .elementor-element.elementor-element-53d8cda {
  --display: flex;
  --background-transition: 0.3s;
  --border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
}
.elementor-232 .elementor-element.elementor-element-53d8cda.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
body.elementor-page-232 #footer {
  display: block;
}
body.elementor-page-232 .info-footer {
  display: block;
}
body.elementor-page-232 .footer_background {
  margin: 0px 0px 0px 0px;
}
body.elementor-page-232 #bottom {
  display: block;
}
body.elementor-page-232 #themesflat-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.elementor-232 .elementor-element.elementor-element-7cb3407{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
body.elementor-page-232 .page-title {
  display: block;
}
@media (min-width: 768px) {
  .elementor-232 .elementor-element.elementor-element-525abc6 {
    --content-width: 1332px;
  }
  .elementor-232 .elementor-element.elementor-element-7cb3407 {
    --content-width: 1332px;
  }
  .elementor-232 .elementor-element.elementor-element-53d8cda {
    --width: 33.5%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-232 .elementor-element.elementor-element-53d8cda {
    --width: 60%;
  }
}
@media (max-width: 1024px) {
  .elementor-232 .elementor-element.elementor-element-525abc6 {
    --padding-top: 0em;
    --padding-bottom: 0em;
    --padding-left: 1em;
    --padding-right: 1em;
  }
  .elementor-232 .elementor-element.elementor-element-7cb3407 {
    --gap: 10px 10px;
  }
}
@media (max-width: 767px) {
  .elementor-232 .elementor-element.elementor-element-525abc6 {
    --gap: 30px 30px;
    --padding-top: 0em;
    --padding-bottom: 0em;
    --padding-left: 1em;
    --padding-right: 1em;
  }
  .elementor-232 .elementor-element.elementor-element-7cb3407 {
    --margin-top: 5em;
    --margin-bottom: 5em;
    --margin-left: 0em;
    --margin-right: 0em;
  }
}
